@import "./../../../scss/_variables";
@import "./../../../scss/_mixins";
@import "./../../../scss/blocks/_general";
.pagination{
    margin: 20px 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.page{
    margin: 0 5px 0 0;
    span{
        color: #000000;
        padding: 5px 10px;
        border: 1px solid #ddd;
        background-color: #eee;
        cursor: pointer;
    }
}
.page__selected{
    span{
        font-weight: bold;
        background-color: $accent-color;
        color: $c-white;
    }
}