@import "./../../scss/_variables";
@import "./../../scss/_mixins";
@import "./../../scss/blocks/_general";
.users{
}
.users_list{
    list-style: none;
    margin: 0;
    padding: 0;

}
.user{
    margin: 0 0 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 20px;
    display: flex;
}
.user_image__wrapper{
    width: 100px;
    text-align: center;
}
.user_follow__button{    
  @include btn_primary;
}
.user_follow__button_active{
    background-color: cadetblue;
}
.user_image{
    width: 50px;
    height: 50px;
}
.user_info{
    margin: 0 0 0 30px;
}
.user_name{
    margin: 10px 0 30px;
    font-size: 16px;
}
.user_location{
    font-size: 12px;
}