@import "../../../scss/variables";
.dialog_link{
  display: flex;
  margin: 5px 0;
}
.dialog_names{
  background: transparent none;
  border: 0 none;
  padding: 10px;
  width: 100%;
  text-align: left;
  color: $text-dark;
}
.dialog_link__active{
  background-color: #eee;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border: 1px solid #ddd;
  border-right: 0 none;
}
.dialog_pic__wrap{
  width: 40px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #dddddd;
  box-sizing: content-box;
}
.dialog_pic{
  height: 50px;
  margin: -30%;
}
