.form-fieldset{
  border: 0 none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.fieldset-legend{
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 30px 0;
}
.fieldset__wrapper{
  display: flex;
  flex-direction: column;
}
.form-field{
  display: flex;
  align-items: center;
  margin: 7px 0;
  position: relative;
}
.form-field__label{
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $text-dark;
  margin-right: 20px;
}
.form-field__input{
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  padding: 10px;
  color: $text-dark;
  flex-grow: 1;

  &::placeholder{
    color: $text-light;
  }
}
.form-field__icon{
  position: absolute;
  top: 14px;
  right: 14px;

  &--mail{
    width: 17px;
    height: 13px;
  }
  &--phone{
    top: 10px;
    width: 20px;
    height: 20px;
  }
}
.form-radio__wrapper{
  margin: 25px 0 0 0;
  padding: 15px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
.form-radio{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.form-radio__wrap{
  padding: 7px 0;
}
.form-field__textarea{
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e6e6e6;
  padding: 20px;
  width: 100%;
  color: $text-dark;

  &::placeholder{
    color: $text-light;
  }
}
.form-checkbox{
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}
.form-checkbox__wrap{
  padding: 5px 0;
}
.form-checkbox__input,
.form-radio__input{
  .visually-hidden;
}
.form-checkbox__label,
.form-radio__label{
  line-height: 30px;
  position: relative;
  padding: 0 0 0 60px;
  display: flex;
  cursor: pointer;
}
.form-checkbox__label::before,
.form-radio__label::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.form-checkbox__input:focus ~ .form-checkbox__label,
.form-radio__input:focus ~ .form-radio__label{
  outline: 1px dotted #111111;
}
.form-radio__input:checked ~ .form-radio__label::after{
  content: "";
  background-color: $accent-color;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  position: absolute;
  top: 9px;
  left: 9px;
}
.form-checkbox__label::before{
  border-radius: 0;
}
.form-checkbox__input:checked ~ .form-checkbox__label::after{
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 21px;
  height: 16px;
  fill: $accent-color;
  background-image: url('../img/icon-tick.svg');
  background-position: 0 0;
  background-repeat: no-repeat;
}
@media (min-width: @tablet-width) {
  .form-field{
    margin: 10px 0;
  }
  .fieldset-legend{
    font-size: 36px;
    line-height: 36px;
    margin: 70px 0 40px;
  }
  .fieldset-legend br{
    display: none;
  }
  .form-field__label{
    font-size: 20px;
    line-height: 20px;
  }
  .form-field__input{
    font-size: 20px;
    line-height: 20px;
    height: 53px;
    padding: 15px;
  }
  .form-field__icon{
    top: 20px;

    &--mail{
      width: 21px;
      height: 14px;
    }
    &--phone{
      top: 18px;
    }
  }
  .form-field__textarea{
    font-size: 20px;
    line-height: 20px;
  }
  .form-checkbox{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form-checkbox__wrap{
    width: 300px;
    padding: 20px 0;
    margin: 0;

    &:nth-child(2n){
      margin-left: 80px;
    }
  }
  .form-button_wrapper{
    flex-direction: row;
    align-items: center;
    margin: 30px 0 50px;
  }
  .form-button_wrapper .form-field__wrap{
    flex-grow: 1;
  }
  .pick-form__instruction{
    flex-grow: 1;
    margin: 0 0 0 80px;
    font-size: 16px;
    text-align: left;
  }
  .form-radio__wrapper{
    border: 0 none;
    margin-top: 30px;
  }
  .form-radio{
    border: 1px solid #e6e6e6;
    padding: 20px;
  }
  .form-radio__wrap{
    padding: 15px 0;
  }
  .form-checkbox__label,
  .form-radio__label{
    line-height: 40px;
  }
  .form-checkbox__label::before,
  .form-radio__label::before{
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }
  .form-checkbox__label::before{
    border-radius: 0;
  }
  .form-radio__input:checked ~ .form-radio__label::after{
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  .form-checkbox__input:checked ~ .form-checkbox__label::after{
    top: 12px;
    left: 10px;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: @desktop-width){
  .form-radio{
    padding: 10px 0 5px 30px;
  }
  .form-radio__wrap {
    padding: 9px 0;
  }
  .form-radio__wrap:last-child{
    padding-bottom: 15px;
  }
  .form-field{
    margin: 10px 0;
  }
  .form-checkbox__label{
    margin-right: 0;
  }
  .form-checkbox{
    flex-wrap: nowrap;
  }
  .form-checkbox__wrap{
    margin-right: 30px;
  }
  .form-checkbox__wrap:nth-child(2n){
    margin-left: 0;
  }
}
