.app_wrapper{
  padding: 0 10px;
}
.app_main{
  display: flex;
  margin: 20px 0;
}
.app_sidebar{
  width: 150px;
  padding: 20px;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  border-radius: 10px;
}
