$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: Arial, Helvetica, sans-serif;

$accent-color: #0f698f;
$text-dark: #111111;
$text-light: #444444;
$c-white: #ffffff;
